.accordionContainer {
    max-height: 350px;
    overflow-y: auto;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none !important;
    outline: 0px !important;
}

.function-button {
    width: 30%;
    height: 45px;
}

.accordionRegion {
    width: 100%;
}

#buttonRegion {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}

@media screen and (max-width: 576px) {
    #buttonRegion {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .function-button {
        width: 80%;
        height: 35px;
        margin: 3px;
    }
}