#connectionContainr {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connectionContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
    background-color: whitesmoke;
}

.connectionRow {
    width: 80%;
}

.saveBtn {
    width: 70%;
}

.connectionSelect:focus {
    outline: none !important;
    box-shadow: none !important;
}

option {
    font-size: 20px;
    margin: 5px;
    user-select: none;
}

#setConnection {
    width: 500px;
    margin-top: 10px;
}

#setConnection:focus,
#setConnection:active {
    outline: none !important;
    box-shadow: none;
}