#containr {
    background-image: linear-gradient(135deg,
            rgba(24, 42, 115, 0.795) 0%,
            rgb(0, 169, 92) 69%,
            rgb(99, 215, 163) 89%) !important;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-light {
    font-size: 80px;
    user-select: none;
}

.btnControl {
    width: 80%;
    height: 50px;
    margin: 5px;
}

.greenBG {
    background-color: #32CD32 !important;
    color: whitesmoke !important;
}

.blueBG {
    background-color: #1E90FF !important;
    color: whitesmoke !important;
}

.greenBG:hover {
    background-color: #3CB371 !important;
    border: 2px solid white !important;
    transition-duration: 0.3s;
}

.blueBG:hover {
    background-color: #4169E1 !important;
    border: 2px solid white !important;
    transition-duration: 0.3s;
}

.purpleBG:hover {
    background-color: #9400D3 !important;
    border: 2px solid white !important;
    transition-duration: 0.3s;
}

.purpleBG {
    background-color: #8A2BE2 !important;
    color: whitesmoke !important;
}

.welcomeMessage {
    font-size: 36px;
    color: whitesmoke;
    user-select: none;
}