@media screen and (max-width: 576px) {
    #navControl {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #navItemControl {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
    }

    .navbar-collapse {
        width: 80%;
    }

    #titleControl {
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
}