@media screen and (max-width: 576px) {
    #navControl {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #navItemControl {
        display: flex;
        flex-direction: column;
    }

    #titleControl {
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
}