#queryTitle:focus,
#queryInput:focus {
    outline: none;
    box-shadow: none;
}

#saveQueryAccordion {
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    padding: 8px;
}

.text-success {
    user-select: none;
}

.btn-purple {
    background-color: rgb(138, 43, 226) !important;
    color: white !important;
}

.operateBtn {
    height: 40px;
    margin: 5px
}

.connectionStatus {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    user-select: none;
    height: 40px;
}