#containrBlock {
    background-image: linear-gradient(135deg,
            rgb(220, 20, 60) 38%,
            rgb(255, 0, 0) 69%,
            rgb(250, 128, 114) 89%) !important;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unauthorizedContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-light {
    font-size: 80px;
    user-select: none;
}

.btnControl {
    width: 80%;
    height: 50px;
    margin: 5px;
}

.greenBG {
    background-color: #32CD32 !important;
    color: whitesmoke !important;
}

.greenBG:hover {
    background-color: #3CB371 !important;
    border: 2px solid white !important;
    transition-duration: 0.3s;
}

.warningMessage {
    font-size: 36px;
    color: whitesmoke;
    user-select: none;
}